
@{
    ViewBag.Title = "BacisBasic";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2 class="text-center text-primary" style="font-weight:700;">Teacher Basic Details </h2>
<table class="table " id="myTable">
    <thead class="table table-bordered table-primary table-hover table-responsive">
        <tr>
            <td>Teacher ID</td>
            <td>Teacher Name</td>
            <td>Student Id</td>
            <td>Employee Role</td>
            <td>DOJ</td>
            <td>Salary</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody class="table-secondary">
        @foreach (System.Data.DataRow row in Model.Rows)
        {
            <tr>
                <td>@row["id"]</td>
                <td>@row["TeacherName"]</td>
                <td>@row["TeacherId"]</td>
                <td>@row["DOJ"]</td>
                <td>@row["EmployeeRole"]</td>
                <td>@row["MonthlySalary"]</td>
                <td>@row["Email"]</td>
            </tr>
        }
    </tbody>
</table>
